.movie-card {
  height: 100%;
  position: relative;

  &__image-wrap {
    padding-top: 147%;
    position: relative;

    img {
      @include absoluteCenterImage();
    }
  }

  .title {
    font-size: 24px;
  }
}