.company-developer {
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    line-height: 120.8%;
    letter-spacing: -0.02em;
    color: $white;
  a{
    color: #0083CD;
    &:hover{
      color: #00659D;
    }
  }

&__logo {
     margin-left: 15px;
     height: 36px;
     width: 96px;
 }
}