.film-detail {
  background-color: $white;
  padding: 30px 20px;
  border-radius: 15px;
  position: relative;

  &__image-wrap {
    @include imageWrapper(209, 314);

    img {
      @include absoluteCenterImage();
      max-height: 100%;
    }
  }

  &__wrap {
    padding-left: 20px;
  }

  &__parameter {
    display: flex;
    flex-direction: row;

    span:first-child {
      width: 160px;
      display: block;
      color: $grey;
    }

    & + & {
      margin-top: 16px;
    }
  }

  ul.film-detail__parameter {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;

    li {
      position: relative;
    }

    li:first-child {
      width: 160px;
      color: $grey;
    }

    li:nth-child(2) {
      margin-left: 0;
      padding-left: 0;

      &:before {
        display: none;
      }
    }

    li + li {
      padding-left: 5px;
      margin-left: 5px;
      margin-top: 0;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 1px;
        height: 18px;
        background-color: $grey;
      }
    }
  }
}

.rating {
  &__grade {
    font-size: 32px;
    line-height: 100%;
    color: $blue;
    font-family: $family-secondary;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 14px;
  }

  &__vote-count {
    font-size: 14px;
    color: $grey;
  }
}