.search {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 30px;

  &:hover{
    box-shadow: 0 0 5px rgba($light-blue, 0.7);
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background: $blue;
    cursor: pointer;
    border: none;

    svg {
      width: 20px;
      height: 20px;
      fill: $white;
    }
  }

  .input {
    padding: 7px 10px;
    height: auto;
    border-radius: 0;
  }
}

.not-found {
  font-size: 28px;
  font-weight: 700;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;

  img {
    margin-right: 15px;
    height: 42px;
  }
}