<template>
 <div class="appLoader">
   <div class="lds-spinner">
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
   </div>
 </div>
</template>

<script>
export default {
  name: "appLoader"
}
</script>

<style scoped>

</style>