<template>
  <div>
    <div class="card movie-card" @click="removeSearchValue">
      <router-link
          :to="{ name: 'filmDetail',
          params: {
            id: film_data.filmId,
          }
          }"
          class="absolute-link">
      </router-link>
      <div class="movie-card__image-wrap">
        <img
            :src="film_data.posterUrl"
            alt="">
      </div>
      <div class="card-content">
        <div class="title">{{ film_data.nameRu }}</div>
      </div>
    </div>
  </div>
</template>

<script>

import {mapMutations} from "vuex";

export default {
  name: "movieComponent",
  props: {
    film_data: {
      type: Object,
      default() {
        return {}
      },
    }
  },
  methods: {
    ...mapMutations([
      'SET_SEARCH_VALUE'
    ]),
    removeSearchValue() {
      this.SET_SEARCH_VALUE('');
    }
  },

}
</script>

<style scoped>

</style>