<template>
  <footer class="footer">
    <div class="company-developer">
      <div> Веб-приложение разработано <br> компанией<a href="https://greenteg-studio.ru/" target="_blank">
        GreenTegStudio</a></div>
      <div class="company-developer__logo"><img src="/image/developer-logo.png"></div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "footer"
}
</script>

<style scoped>
</style>