<template>
  <header class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/image/logo.png">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <router-link :to="{ path: '/'}" class="navbar-item">
            Главная
          </router-link>
          <router-link :to="{ path: '/favorites'}" class="navbar-item">
            Избранное
          </router-link>
          <div class="navbar-item">
            <div class="search">
              <input type="text" class="input" placeholder="Поиск" v-model="search" @input="SearchActivation">
              <button type="submit" class="search__button">
                <icon name="search"></icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import icon from '../components/icons.vue';
import {mapActions, mapGetters, mapMutations} from "vuex";
import search from "../vuex/modules/searchFilms";

export default {
  name: "Header",
  components: {
    icon,
  },
  data() {
    return {
      search: '',
    }
  },
  methods: {
    ...mapActions([
      'GET_SEARCHED_FILMS', 'ADD_SEARCH_VALUE'
    ]),
    ...mapMutations(['SET_SEARCH_VALUE']),
    SearchActivation() {
      if (this.search.length > 0) {
        this.$router.push({ path: '/search' })
      } else {
        this.$router.go(-1)
      }
      this.SET_SEARCH_VALUE(this.search);
      this.GET_SEARCHED_FILMS();
    }
  },
  watch: {
    getSearchValue: function () {
      if (this.getSearchValue === '') {
        this.search = ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'getSearchValue',
    ]),
  },
}
</script>

<style scoped>

</style>