<template>
  <section class="section">
    <div class="container">
      <div class="title has-text-white">Избранное</div>
      <div class="columns is-multiline">
        <movieComponent class="column is-3"
                        v-for="favoriteFilm in getFavorites"
                        :key="favoriteFilm.filmId"
                        :film_data="favoriteFilm"
        />
      </div>
    </div>
  </section>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from "vuex";
import movieComponent from '../components/filmCard.vue';


export default {
  name: "favorites",
  components: {
    movieComponent,
  },
  methods:{
    ...mapActions([
      'GET_FAVORITES'
    ]),
    ...mapMutations(['SET_FAVORITES_IDS']),
  },
  computed: {
    ...mapGetters([
      'getFavorites',
    ]),
  },

  mounted() {
    this.GET_FAVORITES()
    const localStorageId = localStorage.getItem('Id');

    if (localStorageId) {
      const localStorageArray = localStorageId.split(',');
      this.SET_FAVORITES_IDS(localStorageArray);
    }
  },
}
</script>

<style scoped>

</style>