<template>
  <section class="section">
    <div class="container">
      <div class="title is-2 has-text-white">Фильмы по вашему запросу:</div>
      <appLoader v-if="getLoadingStatus"/>
      <div class="not-found" v-if="getFoundFilms.length === 0 && !getLoadingStatus">
        <img src="image/nothing-found.png">
        По вашему запросу ничего не найдено
      </div>
      <div class="columns is-multiline" v-if="!getLoadingStatus">
        <movieComponent class="column is-3"
                        v-for="movieItem in getFoundFilms"
                        :key="movieItem.filmId"
                        :film_data="movieItem"
        />
      </div>
    </div>
  </section>
</template>

<script>
import movieComponent from '../components/filmCard.vue';
import appLoader from '../components/appLoader.vue';
import {mapGetters} from "vuex";

export default {
  name: "movieSearch",
  components: {
    movieComponent,
    appLoader
  },
  computed: {
    ...mapGetters([
      'getFoundFilms',
      'getLoadingStatus',
    ]),
  },
}
</script>

<style scoped>

</style>