<template>
  <section class="section">
    <div class="container">
      <div class="box film-detail">
        <div class="columns">
          <div class="column is-3">
            <div class="film-detail__image-wrap">
              <img
                  :src="getFilm.posterUrl"
                  alt="">
            </div>
          </div>
          <div class="column is-6">
            <div class="film-detail__wrap">
              <div class="title is-1 has-text-weight-normal">{{ getFilm.nameRu }}</div>
              <div class="buttons">
                <a class="button is-blue" :class="{activeFavorites}" @click="saveFavoritesId()">
                  <span>Добавить в избранное</span>
                  <span class="icon is-small">
                    <icon name="favorites"></icon>
                </span>
                </a>
                <a class="button">
                  <span>Уже смотрел</span>
                  <span class="icon is-small">
                    <icon name="seen"></icon>
                  </span>
                </a>
              </div>
              <div class="title is-4 has-text-weight-normal">О фильме</div>
              <div class="content">
                <div class="film-detail__parameter"><span>Год выхода:</span> <span>{{ getFilm.year }}</span></div>
                <ul class="film-detail__parameter">
                  <li>Страна:</li>
                  <li v-for="filmGenre in getFilm.countries" :key="filmGenre.country">{{ filmGenre.country }}</li>
                </ul>
                <ul class="film-detail__parameter">
                  <li>Жанр:</li>
                  <li v-for="filmGenre in getFilm.genres" :key="filmGenre.genre">{{ filmGenre.genre }}</li>
                </ul>
                <div class="film-detail__parameter"><span>Время:</span> <span>{{ getFilm.filmLength }}</span></div>
              </div>
            </div>
          </div>
          <div class="column is-2 is-offset-1">
            <div class="rating">
              <div class="rating__grade">{{ getFilm.rating }}</div>
              <div class="rating__vote-count">{{ getFilm.ratingVoteCount }} оценки</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import icon from '../components/icons.vue';
import {mapActions, mapGetters, mapMutations} from "vuex";

export default {
  name: "filmDetail",
  components: {
    icon,
  },
  props: ['id'],
  data() {
    return {
      activeFavorites: false,
    };
  },
  methods: {
    ...mapActions([
      'GET_FILM'
    ]),
    ...mapMutations(['UPDATE_FAVORITES_ID', 'SET_FAVORITES_IDS']),
    saveFavoritesId() {
      if (!this.activeFavorites) {
        this.activeFavorites = true
      } else {
        this.activeFavorites = false;
      }
      this.UPDATE_FAVORITES_ID(this.id);
      localStorage.setItem('Id', this.getLocalStorageId);
    },

  },
  mounted() {
    this.GET_FILM(this.id);

    const localStorageId = localStorage.getItem('Id');

    if (localStorageId) {
      const localStorageArray = localStorageId.split(',');
      for (let id of localStorageArray) {
        if (id == this.id) {
          this.activeFavorites = true
        }
      }
      this.SET_FAVORITES_IDS(localStorageArray);
    }

  },
  computed: {
    ...mapGetters([
      'getFilm', 'getLocalStorageId'
    ]),
  },
}
</script>

<style scoped>

</style>