<template>
  <section class="film-preview">
    <div class="container">
      <div class="film-preview">
        <img src="image/banner.jpg">
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="title is-2 has-text-white">О Сайте</div>
      <div class="columns">
        <div class="column is-6">
          <div class="content">Сайт для поиска фильмов. Не нужно листать и выбирать, вбил в поиск и смотришь. <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid cum cupiditate eaque eos
            error
            est
            fuga, hic nihil non odit officiis optio perspiciatis quaerat quasi reiciendis, sint tenetur vero.
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Home",
}
</script>

<style scoped lang="scss">
.film-preview {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}
</style>