@mixin imageWrapper($originalWith, $originalHeight) {
  padding-top: $originalHeight / $originalWith * 100%;
  position: relative;
}

@mixin absoluteCenterImage(){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}