#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  header {
    flex: 0 0 auto;
  }

  main {
    flex: 1 0 auto;
    background-image: $primary-gradient;
  }

  footer {
    flex: 0 1 auto;
  }
}

.input {
  &:hover {
    &::placeholder {
      color: $blue;
    }
  }
}

.absolute-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}