//colors
$primary: #25274D;
$dark-blue: #464866;
$blue: #29648A;
$light-blue: #2E9CCA;
$primary-gradient: linear-gradient(0deg, rgba(41,100,138,1) 0%, rgba(37,39,77,1) 100%);

$white: #FFFFFF;
$white-bis: #ECECF1;

$grey: #AAABB8;

$black: #000000;

$body-color: $white;

//typography
$family-primary: 'Roboto', sans-serif;
$family-secondary: 'Oswald', sans-serif;

//header
$navbar-background-color: $primary;
$navbar-box-shadow-size: 0;
$navbar-height: 80px;
$navbar-padding-vertical: 15px;
$navbar-padding-horizontal: 15px;
$navbar-item-color: $white-bis;
$navbar-item-hover-color: $white-bis;
$navbar-item-hover-background-color: $primary;
$navbar-item-active-color: $white-bis;
$navbar-item-active-background-color: $primary;
$navbar-item-img-max-height: 40px;

//footer
$footer-background-color: $primary;
$footer-color: $white;
$footer-padding: 40px 15px;

//input
$input-color: $dark-blue;
$input-background-color: $white-bis;
$input-shadow: none;
$input-hover-color: $blue;
$input-hover-border-color: $white-bis;
$input-focus-color: $blue;
$input-focus-border-color: $white-bis;
$input-focus-box-shadow-size: 0;
$input-placeholder-color: $dark-blue;

//button
$button-padding-horizontal: 10px;
$button-padding-vertical: 10px;

//section
$section-padding-desktop: 80px 15px;

//title
$title-color: $black;




