.button {
  border-radius: 10px;
  &.is-blue {
    background-color: $blue;
    color: $white;

    svg{
      fill: $white;
      transition: fill .3s;
    }
  }

  &.activeFavorites{
    svg{
      fill: red;
    }
  }

  .icon:last-child:not(:first-child){
    margin-left: 5px;
    margin-right: 0;
  }

  .icon.is-small{
    svg{
      width: 20px;
      height: 20px;
    }
  }
}